nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border-radius: 30px;

}



.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile + label {
    color: #f1e5e6;
    background-color: #36486b;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    transition: background-color 0.5s ease;
    background-color: #618685;
}

.btn-group {
    padding-top: 20px;
}

.arrow {
    height: 10vh;
}

.main {
    height: 60vh;
}

.carousel-inner > .carousel-item > img {
    width: 65vh;
    margin: auto;
}

.carousel-inner {
    margin-left: 50%;
    margin-right: 50%;
}

header {
  cursor: pointer;
}

#star {
  display: none;
  height: 3vh;
  width: 3vh;
  margin-bottom: 10px;
}

#title {
  font-family: Raleway;
  display: inline-block;
}
